h1{
    background-color:black;
    color:azure;
    width: 30%;
    margin-bottom: 0%;
}
hr{
    margin-top:0px;
    border: 2px solid black;
}
img{
    width: 60%;
    height: 300px;
    border: 2px solid black;
  }
.row{
    display:flex;
    justify-content: space-between;
    margin: 5px;
}
.col{
    width:33.33%;
    text-align: center;
    /* border: 2px solid black; */
}